@import "tailwindcss";
@import '@fontsource/poppins/300.css';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';

/* Estilos personalizados para el carrusel */
.slick-track {
  display: flex !important;
  align-items: center;
}

.slick-slide {
  height: auto;
  padding: 1rem;
}

.slick-slide > div {
  height: 100%;
}

/* Personaliza las flechas de navegación */
.slick-prev:before,
.slick-next:before {
  color: #4B5563;
}

/* Efecto hover para los items */
.slick-slide:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 0;
  transition: padding-top 0.3s;
  font-family: 'Poppins', sans-serif;
}

body.navbar-fixed {
  padding-top: 64px; /* Ajusta este valor según la altura de tu navbar */
}




