@import "tailwindcss";

/* Estilos personalizados para el carrusel */
.slick-track {
  display: flex !important;
  align-items: center;
}

.slick-slide {
  height: auto;
  padding: 1rem;
}

.slick-slide > div {
  height: 100%;
}

/* Personaliza las flechas de navegación */
.slick-prev:before,
.slick-next:before {
  color: #4B5563;
}

/* Efecto hover para los items */
.slick-slide:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}




